<ion-header>

</ion-header>

<ion-content>

  <div id="divCadastroQuadra">
    <ion-label>Cadastro de Quadra</ion-label>
  </div>
  <br>

  <form [formGroup]="cadastroQuadra" (ngSubmit)="submitForm()" novalidate>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Nome"></ion-input>
      <ion-input [(ngModel)]="quadra.nome" type="text" formControlName="nome"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nome.errors?.required">
      Nome é obrigatorio.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nome.errors?.minlength">
      No mínimo 3 caracteres.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Logradouro"></ion-input>
      <ion-input [(ngModel)]="quadra.logradouro" type="text" formControlName="logradouro"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.logradouro.errors?.required">
      Logradouro é obrigatório.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Bairro"></ion-input>
      <ion-input [(ngModel)]="quadra.bairro" type="text" formControlName="bairro"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.bairro.errors?.required">
      Bairro é obrigatório.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Cidade"></ion-input>
      <ion-input [(ngModel)]="quadra.cidade" type="text" formControlName="cidade"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.cidade.errors?.required">
      Cidade é obrigatório.
    </span>
    <br>

    <ion-item color="medium" id="esporte" class="label">
      <ion-select formControlName="esporte" placeholder="Selecione o Esporte" [(ngModel)]="quadra.esporte">
        <ion-select-option *ngFor="let item of esportes" [value]="item.id">{{item.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.esporte.errors?.required">
      Esporte é obrigatorio.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Valor Hora"></ion-input>
      <ion-input [(ngModel)]="quadra.valorHora" type="text" formControlName="valorHora"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.valorHora.errors?.required">
      Valor da hora é obrigatório.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.telefone.errors?.pattern">
      Apenas números.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Telefone"></ion-input>
      <ion-input [(ngModel)]="quadra.telefone" type="text" formControlName="telefone"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.telefone.errors?.required">
      Telefone é obrigatório.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.telefone.errors?.pattern">
      Apenas números.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <ion-input position="floating" placeholder="Descrição"></ion-input>
      <ion-textarea [(ngModel)]="quadra.descricao" type="text" formControlName="descricao"></ion-textarea>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.descricao.errors?.required">
      Descricao é obrigatório.
    </span>
    <br>

    <ion-item color="medium" class="label">
      <div id="uploadimagem">
        <ion-img [src]="fotoServ?.foto?.webviewpath">
        </ion-img>

        <ion-button id="botaofoto" (click)="acionarCamera()">
          <ion-icon slot="icon-only" name="camera">
          </ion-icon>
        </ion-button>
      </div>

    </ion-item>

    <br>

    <ion-button type="submit" expand="block" size="small">Cadastrar</ion-button>
    <ion-button expand="block" size="small" color="danger" [routerLink]="['/home-admin']">Cancelar</ion-button>

  </form>
</ion-content>