ion-content {
    --background: url("./../../assets/img/backgroundapp.jpeg") no-repeat center center / cover !important;
}

ion-icon {
    height: 35px;
    width: 35px;
}

ion-footer {
    display: inline;
    padding: 3px;
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}

ion-card {
    text-align: center;
    background-color: rgb(168, 168, 168);
    border-radius: 12%;
}

ion-card-title {
    color: rgb(0, 0, 0);
}

#calendar {
    margin-left: 120px;
    cursor: auto;
}

#home {
    margin-left: 50px;
    cursor: auto;
}

#esporte {
    float: left;
    width: 100px;
    font-size: 12px;
    background-color: black;
}

#cidade {
    float: left;
    width: 100px;
    font-size: 12px;
    background-color: black;
}

#bairro {
    float: left;
    width: 100px;
    font-size: 12px;
    background-color: black;
}

#listaQuadras {
    padding: 3px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    text-align: center;
    font-size: 12px;
}